/* estilos para las pantalla de movil */
/* para ocultar tablas */
.tablaoculta{opacity:0;}
.tablaocultav{opacity:1}
.ocult{display:none;}

.ui-filter-inset {
    margin-top: 0;
}

h3 {
	text-align: center
}

.cajacent{
	width: 50%;
	margin:auto
}

.cajamed{
	width: 50%;
	margin:auto
}

.subt{
	text-align:right;
}
.subiva{
	text-align:right;
}

.gsubt{
	text-align:right;
}

.gtot{text-align:right;}
