/*estilos para input dentro de dialogo*/
.cajal {
	width: 80%;
	font-size: 150%;
}
.cajam {
	width: 40%;
	font-size: 150%;
}
.cajac {
	width: 26%;
	font-size: 150%;
}

/*estilos para las tablas*/

table.db-table 		{ border-right:1px solid #ccc; border-bottom:1px solid #ccc; margin:auto}
table.db-table th	{ background:#eee; padding:5px; border-left:1px solid #ccc; border-top:1px solid #ccc; }
table.db-table td	{ padding:5px; border-left:1px solid #ccc; border-top:1px solid #ccc; }

.ed,.el{text-align:center}
